<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.veriKlick">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.BLUETOOTH_SCAN"
        android:usesPermissionFlags="neverForLocation" />
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <queries>
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>
        <intent>
            <action android:name="android.intent.action.PICK" />

            <data android:mimeType="*/*" />
        </intent>
        <intent>
            <action android:name="android.intent.action.GET_CONTENT" />
        </intent>
    </queries>

    <application
        android:name="com.data.application.MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher_verklick"
        android:label="@string/app_name"
        android:preserveLegacyExternalStorage="true"
        android:requestLegacyExternalStorage="true"
        android:requestRawExternalStorageAccess="true"
        android:roundIcon="@mipmap/ic_launcher_verklick_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.VeriklickBase"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">

        <activity
            android:name="com.ui.activities.candidateQuestionnaire.ActivityCandidateQuestinnaire"
            android:exported="true"
            android:screenOrientation="portrait"
            >
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />

            <intent-filter
                android:autoVerify="true"
                android:label="@string/app_name">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Accepts URIs that begin with "http://www.example.com/gizmos” -->
                <data
                    android:host="ui2.veriklick.in"
                    android:pathPrefix="/CandidateQuestionierAnswer/QuestionsForm"
                    android:scheme="https" />
            </intent-filter>

            <intent-filter
                android:autoVerify="true"
                android:label="@string/app_name">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Accepts URIs that begin with "http://www.example.com/gizmos” -->
                <data
                    android:host="ui2.veriklick.in"
                    android:pathPrefix="/CandidateQuestionierAnswer/QuestionsForm"
                    android:scheme="http" />
            </intent-filter>

        </activity>
<!--        -->
<!--        <activity-->
<!--            android:name="com.ui.activities.createCandidate.FragmentCreateCandidate"-->
<!--            android:exported="false"-->
<!--            android:screenOrientation="portrait"-->
<!--            android:theme="@style/Theme.VeriklickBase">-->
<!--            <meta-data-->
<!--                android:name="android.app.lib_name"-->
<!--                android:value="" />-->
<!--        </activity>-->
<!--        -->
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="com.ui.activities.upcomingMeeting.audioRecord.AudioMainActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ui.activities.upcomingMeeting.audioRecord.PlayActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ui.activities.uploadProfilePhoto.ActivityUploadProfilePhoto"
            android:exported="true"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            tools:ignore="AppLinkUrlError">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />

            <intent-filter
                android:autoVerify="true"
                android:label="@string/app_name">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Accepts URIs that begin with "http://www.example.com/gizmos” -->
                <data
                    android:host="ui2.veriklick.in"
                    android:pathPrefix="/CreateCandidateProfile/ProfileForm"
                    android:scheme="https" />
            </intent-filter>

            <intent-filter
                android:autoVerify="true"
                android:label="@string/app_name">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Accepts URIs that begin with "http://www.example.com/gizmos” -->
                <data
                    android:host="ui2.veriklick.in"
                    android:pathPrefix="/CreateCandidateProfile/ProfileForm"
                    android:scheme="http" />
            </intent-filter>

            <intent-filter
                android:autoVerify="true"
                android:label="@string/app_name">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Accepts URIs that begin with "http://www.example.com/gizmos” -->
                <data
                    android:host="ui2.veriklick.com"
                    android:pathPrefix="/CreateCandidateProfile/ProfileForm"
                    android:scheme="https" />
            </intent-filter>

            <intent-filter
                android:autoVerify="true"
                android:label="@string/app_name">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Accepts URIs that begin with "http://www.example.com/gizmos” -->
                <data
                    android:host="ui2.veriklick.com"
                    android:pathPrefix="/CreateCandidateProfile/ProfileForm"
                    android:scheme="http" />
            </intent-filter>



        </activity>

        <activity android:name="com.ui.activities.createCandiateForm.ActivityCreateCandidateForm"
            android:exported="false"
            android:screenOrientation="portrait"
            />
        <activity
            android:name="com.ui.activities.login.loginwithotp.ActivitiyLoginWithOtp"
            android:exported="false"
            android:screenOrientation="portrait"
            />
        <activity
            android:name="com.ui.activities.adduserlist.ActivityAddParticipant"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ui.activities.forgotPassword.ForgotPasswordActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ui.activities.chat.ChatActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ui.activities.upcomingMeeting.UpcomingMeetingActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.harvee.yourhealthmate2.ui.privacypolicy.ActivityPrivacyPolicy"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ui.activities.feedBack.ActivityFeedBackForm"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ui.activities.meetingmemberslist.MemberListActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ui.activities.splashScreen.SplashScreen"
            android:configChanges="orientation"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- <activity -->
        <!-- android:name="com.ui.activities.chat.ChatActivityTest" -->
        <!-- android:configChanges="orientation" -->
        <!-- android:exported="true" -->
        <!-- android:screenOrientation="portrait" /> -->
        <activity
            android:name="com.ui.activities.joinmeeting.JoinMeetingActivity"
            android:configChanges="orientation"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ui.activities.login.LoginActivity"
            android:configChanges="orientation"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ui.activities.twilioVideo.VideoActivity"
            android:exported="true"
            android:theme="@style/Theme.FullScreen" />
        <activity
            android:name="com.ui.activities.documentviewer.DocumentViewerActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ui.activities.deepLinkMeetingJoiner.VideoMeetingByLinkActivity"
            android:configChanges="orientation"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="AppLinkUrlError">
            <intent-filter
                android:autoVerify="true"
                android:label="@string/app_name">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Accept s URIs that begin with "http://www.example.com/gizmos” -->
                <data
                    android:host="ui2.veriklick.in"
                    android:pathPrefix="/video-session"
                    android:scheme="https" />
                <!-- note that the leading "/" is required for pathPrefix -->
            </intent-filter>
            <intent-filter
                android:autoVerify="true"
                android:label="@string/app_name">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Accepts URIs that begin with "http://www.example.com/gizmos” -->
                <data
                    android:host="ui2.veriklick.in"
                    android:pathPrefix="/video-session"
                    android:scheme="http" />
                <!-- note that the leading "/" is required for pathPrefix -->
            </intent-filter>
            <intent-filter
                android:autoVerify="true"
                android:label="@string/app_name">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Accepts URIs that begin with "http://www.example.com/gizmos” -->
                <data
                    android:host="ui2.veriklick.com"
                    android:pathPrefix="/video-session"
                    android:scheme="https" />
                <!-- note that the leading "/" is required for pathPrefix -->
            </intent-filter>
            <intent-filter
                android:autoVerify="true"
                android:label="@string/app_name">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Accepts URIs that begin with "http://www.example.com/gizmos” -->
                <data
                    android:host="ui2.veriklick.com"
                    android:pathPrefix="/video-session"
                    android:scheme="http" />
                <!-- note that the leading "/" is required for pathPrefix -->
            </intent-filter>
        </activity>

        <service
            android:name="com.ui.activities.twilioVideo.ScreenSharingCapturing.ScreenSharingService"
            android:enabled="true"
            android:foregroundServiceType="mediaProjection" />
        <service
            android:name="com.ui.activities.twilioVideo.meetingnotificationservice.MeetingService"
            android:enabled="true"
            android:foregroundServiceType="mediaPlayback" />

        <receiver
            android:name="com.data.InComingCallDetector"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.PHONE_STATE" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.data.ScreenLockEventDetector"
            android:enabled="true"
            android:exported="true" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.veriKlick.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_path" />
        </provider>

        <service
            android:name="com.data.FirebaseMessangingServiceHelper"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
            />
        </service>
    </application>

</manifest>