<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.twillioproject">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name="com.data.application.MyApplication"
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TwillioProject"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name="com.ui.activities.adduserlist.ActivityAddParticipant"
            android:exported="false"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            />
        <activity
            android:name="com.ui.activities.forgotPassword.ForgotPasswordActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ui.activities.chat.ChatActivityTest"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ui.activities.upcomingMeeting.UpcomingMeetingActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ui.activities.meetingmemberslist.MemberListActivity"
            android:exported="false"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ui.activities.SplashScreen"
            android:configChanges="orientation"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
<!--        <activity-->
<!--            android:name="com.ui.activities.chat.ChatActivityTest"-->
<!--            android:configChanges="orientation"-->
<!--            android:exported="true"-->
<!--            android:screenOrientation="portrait" />-->
        <activity
            android:name="com.ui.activities.joinmeeting.JoinMeetingActivity"
            android:configChanges="orientation"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ui.activities.login.LoginActivity"
            android:configChanges="orientation"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ui.activities.twilioVideo.VideoActivity"
            android:configChanges="orientation"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.FullScreen" />
        <activity
            android:name="com.ui.activities.documentviewer.DocumentViewerActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait" />

        <service
            android:name="com.data.extras.ScreenCapturerService"
            android:enabled="true"
            android:foregroundServiceType="mediaProjection"

            />
    </application>

</manifest>