<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.twillioproject">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />


    <application
        android:name="com.data.application.MyApplication"
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TwillioProject"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name="com.ui.activities.login.loginwithotp.ActivitiyLoginWithOtp"
            android:exported="false" />
        <activity
            android:name="com.ui.activities.adduserlist.ActivityAddParticipant"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ui.activities.forgotPassword.ForgotPasswordActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ui.activities.chat.ChatActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ui.activities.upcomingMeeting.UpcomingMeetingActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.harvee.yourhealthmate2.ui.privacypolicy.ActivityPrivacyPolicy"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ui.activities.feedBack.ActivityFeedBackForm"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ui.activities.meetingmemberslist.MemberListActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ui.activities.splashScreen.SplashScreen"
            android:configChanges="orientation"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- <activity -->
        <!-- android:name="com.ui.activities.chat.ChatActivityTest" -->
        <!-- android:configChanges="orientation" -->
        <!-- android:exported="true" -->
        <!-- android:screenOrientation="portrait" /> -->
        <activity
            android:name="com.ui.activities.joinmeeting.JoinMeetingActivity"
            android:configChanges="orientation"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ui.activities.login.LoginActivity"
            android:configChanges="orientation"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ui.activities.twilioVideo.VideoActivity"
            android:exported="true"
            android:theme="@style/Theme.FullScreen" />
        <activity
            android:name="com.ui.activities.documentviewer.DocumentViewerActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait" />

        <service
            android:name="com.ui.activities.twilioVideo.ScreenSharingCapturing.ScreenSharingService"
            android:enabled="true"
            android:foregroundServiceType="mediaProjection" />

        <service
            android:name="com.ui.activities.twilioVideo.meetingnotificationservice.MeetingService"
            android:enabled="true"
            android:foregroundServiceType="mediaPlayback" />

        <receiver android:name="com.data.InComingCallDetector"
            android:exported="true"
            android:enabled="true"
            >
            <intent-filter>
                <action android:name="android.intent.action.PHONE_STATE" />
            </intent-filter>
        </receiver>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.twillioproject.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_path" />
        </provider>
    </application>

</manifest>